<%=form_for @person, url: person_create_path do |f|%>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this task from being saved:</h2>

      <% @person.errors.each_with_index do |message,i| %>
        <p><%= message[1] %></p>
      <% end %>
    </div>
  <% end %>
  
   <h3>Si quieres saber más,contáctanos.</h3>
   <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.submit "Enviar", class: 'button' %>
  </div>
<%end%>